.thumbnail {
    padding: 15px;
    border: 5px solid #ddd;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.view-warehouses {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    gap: 15px;
    
    /* LIMIT THE HEIGHT */
    max-height: 400px;  
    overflow-y: auto;   /* Adds scrollbar only if content is too long */
    padding: 10px;     
    border: 1px solid #eee;
    border-radius: 8px;
}